<!doctype html>
<html lang="en">
<head>
    <title>Django test Blog</title>
</head>
<body>
<header>
    <h1><a href="/">Django Blog</a></h1>
</header>
<article>
    <time>published: 21.07.2022, 12:27</time>
    <h2><a href="">My First Post</a></h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus adipisci asperiores aspernatur consequatur deleniti deserunt dolore dolorem fugit laudantium libero, magnam, modi obcaecati optio praesentium provident quibusdam repudiandae ullam vero!</p>
</article>
<article>
    <time>published: 19.07.2022, 12:30</time>
    <h2><a href="">My Second Post</a></h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus adipisci asperiores aspernatur consequatur deleniti deserunt dolore dolorem fugit laudantium libero, magnam, modi obcaecati optio praesentium provident quibusdam repudiandae ullam vero!</p>
</article>
</body>
</html>